<?xml version="1.0"?>
<model>
  <name>3DR Iris with velodyne 3D lidar</name>
  <version>1.0</version>
  <sdf version='1.6'>iris_velodyne.sdf</sdf>

  <description>
    This is a model of the 3DR Iris Quadrotor with velodyne 3D lidar. The original model has been created by
    Thomas Gubler and is maintained by Lorenz Meier.
  </description>
</model>
